@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  background-color: #F3F3F3;
  font-family: montserrat, sans-serif;
}
.selling button{
  border: 3px;
  padding: 10px;
  background-color: #eaeaea;
  border-radius: 24px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: Montserrat,sans-serif;
  font-size: 14px;
  font-weight: 500;
  transition: .4s all;
}
.selling button:hover{
  background-color: #323232;
  color: white;
}
.card .other{
  transition: all 10s ease-in;
}
.card:hover .other{
  display: block;
  opacity: 1; 
  /* position: absolute; */
  z-index: 50;
  transition: all 10s ease-in;
  
}